*{
  padding: 0px;
  margin:5px;
  
}
body{
  background-color: rgb(195, 218, 216);
  font-size: 18px;
  font-family: 'Karla', sans-serif;
  justify-content: space-around;
  
}
h1,h2,h3{
  color: brown;
}

