*{
  margin: 5px;
  padding: 0px

}
body{
  background-color: rgb(195, 218, 216);
  font-size: 18px;
  font-family: 'Karla', sans-serif;
  justify-content: space-between;
}
.header{
background-image: url(images/bg.png);
min-height: 100vh;
background-repeat: no-repeat;
background-position: right;

}
#index-one{
  color: #ffff;
  text-align: center;
  font-size: 50px;
  background-color: crimson;

  }
#index{
  color: crimson;
  font-size: 30px;
}
nav a{
  text-decoration: none;
  padding: 5px;
  margin-left: 30%;
  border: 2px solid white;
  background-color: crimson;
  border-radius: 10%;
 
}
.about{
  margin-left: 30%;
  margin-top: 10%;
}
.about a{
  text-decoration: none;
  padding: 2px;
  margin: 2px;
  border: 2px solid blue;
  background-color: red;
  border-radius: 10%;
}